.integration-box-container{
    display: flex;
    align-items: center;
    justify-content:  space-between;
    border: 1px solid #ebebeb;
    padding: 24px;
    border-radius: 6px;
}

.integration-box-content{
    display: flex;
    align-items: center;
}